{% load static %} <!-- This must be at the top! -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Portfolio/css/styles.css' %}">
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'fonts\Satoshi_Complete\Fonts\WEB\css\satoshi.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'Portfolio/images/logos/K.png' %}" type="image/x-icon">
    <meta property="og:title" content="Kush Malwatkar — Robotics & Embedded Systems"/>
    <meta property="og:description" content="WPI student passionate about embedded systems, robotics, and automation projects."/>
    <meta property="og:image" content="kush.jpg"/>
    <meta property="og:url" content="https://kushmalwatkar.com"/>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <div class="nav">
        <div class="nav-cont">
            <div class="nav-main">
                <a class="logo" href="/"><img src="{% static 'Portfolio/images/logos/logo4.png' %}" alt=""></a>
                <a class="nav-btn" href="/">Home</a>                
                <a class="nav-btn" href="/about">About</a>
                <a class="nav-btn" href="/projects">Projects</a>    
                <a class="nav-btn" href="/experience">Resume</a>    
                <a class="nav-btn" href="/contact">Contact</a>  
            </div>
        </div>
    </div>
    <div class="cont">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>