{% extends "portfolio/layout.html" %}
{% load static %}

{% block title %}Kush Malwatkar{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'Portfolio/css/projects.css' %}">
{% endblock %}

{% block content %} 
        <h1>All Projects</h1>
        <p>Click on a project to learn more!</p>
        <div id="projects">
            <div class="card-deck">
                {% for project in projects %}
                    <a href="{{ project.learn_more }}" class="project"> <!--UWM-->
                        <div class="p-img-cont">
                            {% for image in project.images %}
                                <div class="p-img" style="background-image: url('{% static image.url %}');">{{image.caption}}</div>
                            {% endfor %}
                        </div>
                        <div class="p-main">    
                            <div class="p-head">{{project.name}}</div>
                            <div class="p-type">{{project.tag}}</div>
                            <div class="p-body">{{project.description}}</div>
                        </div>
                        <div class="p-skills">
                            {% for skill in project.show_skills %}
                                <div class="p-skill">{{skill}}</div>
                            {% endfor %}
                        </div>
                        <div class="p-links">
                            {% for link in project.links %}
                                <a class="p-link" href="{{link.url}}">{{link.name}}</a>
                            {% endfor %}
                        </div>
                    </a>
                {% endfor %}
            </div>
            <hr>
            <div class="card-deck">
                <div class="project"> <!--UWM-->
                    <div class="p-img-cont">
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/UWM/UWM5.jpeg' %});">Hurricane Ida (2021) | Scroll →</div>
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/UWM/UWM3.JPG' %});">Cloud cover testing</div>
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/UWM/UWM2.JPG' %});">Box construction with LED's numbers</div>
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/UWM/UWM1.JPG' %});">Installing LEDs</div>
                    </div>
                    <div class="p-main">    
                        <div class="p-head">US Weather Map</div>
                        <div class="p-type">embedded / hardware</div>
                        <div class="p-body">100 RGB LEDs displaying live weather conditions, temperature, precipitation, air quality, and wind speed using an API.</div>
                    </div>
                    <div class="p-skills">
                        <div class="p-skill">ESP-32</div>
                        <div class="p-skill">C++</div>
                        <div class="p-skill">API Integration</div>
                    </div>
                    <div class="p-links">
                        <div class="p-link">YouTube</div>
                        <div class="p-link">Learn more</div>
                    </div>
                </div>
                <div class="project"> <!--ACB-->
                    <div class="p-img-cont">
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/ACB/ACB11.jpeg' %});">Scroll →</div>
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/ACB/ACB7.jpeg' %});">Custom wiring</div>
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/ACB/ACB2.jpeg' %});">Soldering circuit board</div>
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/ACB/ACB12.jpeg' %});">Final product</div>
                    </div>
                    <div class="p-main">
                        <div class="p-head">Automated Blinds</div>
                        <div class="p-type">embedded / hardware</div>
                        <div class="p-body">6 blinds using DC motors and HC-SR04 ultrasonic sensors operated by an infrared remote, uses custom soldered board.</div>
                    </div>
                    <div class="p-skills">
                        <div class="p-skill">Arduino</div>
                        <div class="p-skill">Soldering</div>
                        <div class="p-skill">Sensors</div>
                    </div>
                    <div class="p-links">
                        <div class="p-link">Learn more</div>
                    </div>
                </div>
                <div class="project"> <!--WW-->
                    <div class="p-img-cont">
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/WW/WW4.jpeg' %});">Scroll →</div>
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/WW/WW2.jpeg' %});">Loadcell - LED complex</div>
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/WW/WW3.jpeg' %});">Wired Arduino Nano</div>
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/WW/WW1.jpeg' %});">Opened case</div>
                    </div>
                    <div class="p-main">
                        <div class="p-head">Water Tracker</div>
                        <div class="p-type">embedded / hardware</div>
                        <div class="p-body">Water consumption tracker using 4 load-cells and status LED's to indicate adequate water intake as per CDC guidelines.</div>
                    </div>
                    <div class="p-skills">
                        <div class="p-skill">Arduino</div>
                        <div class="p-skill">Sensors</div>
                        <div class="p-skill">LED Strip</div>
                    </div>
                    <div class="p-links">
                        <div class="p-link">YouTube</div>
                        <div class="p-link">Learn more</div>
                    </div>
                </div>
                <div class="project"> <!--MSL-->
                    <div class="p-img-cont">
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/MSL/MSL3.jpg' %});">Scroll →</div>
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/MSL/MSL5.jpg' %});">PIR sensor used</div>
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/MSL/MSL4.jpg' %});">Descending sensor </div>
                        <div class="p-img" style="background-image: url({% static 'Portfolio/images/MSL/MSL6.jpg' %});">Descending lights</div>
                    </div>
                    <div class="p-main">
                        <div class="p-head">Motion Sensored Lights</div>
                        <div class="p-type">embedded / hardware</div>
                        <div class="p-body">Motion-triggered lights for safety and visibility at night using custom programmed light patterns.</div>
                    </div>
                    <div class="p-skills">
                        <div class="p-skill">Arduino</div>
                        <div class="p-skill">Sensors</div>
                        <div class="p-skill">LED Strip</div>
                    </div>
                    <div class="p-links">
                        <div class="p-link">Learn more</div>
                    </div>
                </div>
                <div class="project"> <!--lyrix-->
                    <div class="p-img-cont"></div>
                    <div class="p-main">
                        <div class="p-head">Lyrix</div>
                        <div class="p-type">python / web development</div>
                        <div class="p-body">Song storage database using frontend UI, Django framework, and SQLite 3 database including add, delete and edit features.</div>
                    </div>
                    <div class="p-skills">
                        <div class="p-skill">Python</div>
                        <div class="p-skill">Django</div>
                        <div class="p-skill">SQLite 3</div>
                    </div>
                    <div class="p-links">
                        <div class="p-link">Learn more</div>
                    </div>
                </div>
                <div class="project"> <!--rsvp-->
                    <div class="p-img-cont"></div>
                    <div class="p-main">
                        <div class="p-head">RSVP Invitation</div>
                        <div class="p-type">python / web development</div>
                        <div class="p-body">RSVP invitation website for a large event with 200+ guests. Stored and parsed data about guests and invitations.</div>
                    </div>
                    <div class="p-skills">
                        <div class="p-skill">Python</div>
                        <div class="p-skill">Django</div>
                        <div class="p-skill">SQLite 3</div>
                    </div>
                    <div class="p-links">
                        <div class="p-link">Learn more</div>
                    </div>
                </div>
                <div class="project"> <!--ibuck-->
                    <div class="p-img-cont"></div>
                    <div class="p-main">
                        <div class="p-head">IBuck</div>
                        <div class="p-type">javascript / frontend</div>
                        <div class="p-body">Winning website for the <a href="https://www.congressionalappchallenge.us/">2024 Congressional App Challenge</a>. Financial education website to promote financial literacy.</div>
                    </div>
                    <div class="p-skills">
                            <div class="p-skill">HTML</div>
                            <div class="p-skill">CSS</div>
                            <div class="p-skill">JavaScript</div>
                        </div>
                    <div class="p-links">
                        <div class="p-link">Learn more</div>
                    </div>
                </div>
                <div class="project"> <!--hs planner-->
                    <div class="p-img-cont"></div>
                    <div class="p-main">
                        <div class="p-head">High School Planner</div>
                        <div class="p-type">javascript / web development</div>
                        <div class="p-body">Course planner website to simulate classes from 8th to 12th grade using <a href="https://www.northcolonie.org/o/shs">Shaker High School</a>'s 2021-2022 course catalog.</div>        
                    </div>
                    <div class="p-skills">
                        <div class="p-skill">HTML</div>
                        <div class="p-skill">CSS</div>
                        <div class="p-skill">JavaScript</div>
                    </div>
                    <div class="p-links">
                        <div class="p-link">Learn more</div>
                    </div>
                </div>
                <div class="project"> <!--cricket-->
                    <div class="p-img-cont"></div>
                    <div class="p-main">
                        <div class="p-head">Cricket Player</div>
                        <div class="p-type">javascript / web development</div>
                        <div class="p-body">Scorekeeper for a </div>
                    </div>
                    <div class="p-skills">
                        <div class="p-skill">HTML</div>
                        <div class="p-skill">CSS</div>
                        <div class="p-skill">JavaScript</div>
                    </div>
                    <div class="p-links">
                        <div class="p-link">Learn more</div>
                    </div>
                </div>
                <div class="project">
                    <div class="p-img-cont"></div>
                    <div class="p-main">
                        <div class="p-head">Citizenship Quiz</div>
                        <div class="p-body">Text</div>
                    </div>
                    <div class="p-skills">
                        <div class="p-skill">HTML</div>
                        <div class="p-skill">CSS</div>
                        <div class="p-skill">JavaScript</div>
                    </div>   
                    <div class="p-links">
                        <div class="p-link">Learn more</div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}