a
{
    color: var(--text);
    text-decoration: none;
}
.mono
{
    font-family: "IBM Plex Sans";
}

.sans
{
    font-family: "Satoshi-Regular";
}
.main
{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}


.left, .right
{
    width: 50%;
    min-width: 300px;
}
.left
{
    flex-direction: column;
    justify-content: center;
}
.profile-img
{
    text-align: center;
    width: 90%;
    height: 90%;
    border-radius: 1rem;
    object-fit: cover;
}

.bullet
{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--accent);
    left: 5%;
    z-index: 10;
}
.event-title
{
    font-size: 1.1rem;
}

.event
{
    text-align: left !important;
    border-left: 2px solid var(--accent);
    padding: 0px 40px 16px 16px;
    font-size: 0.9rem;
}