
#skills
{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.skills
{
    width: fit-content;
    padding: 0px;
    flex-grow: 1;
}
.skill
{
    padding: 3px 8px;
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    margin-right: 10px;
    margin-bottom: 10px
}
.skills-header
{
    width: 100%;
}
a
{
    color: var(--text);
    text-decoration: none;
}
/* Projects */
.card-deck
{
    display: flex;
    flex-wrap: wrap !important;
    flex-grow: 3;
    gap: 10px;
}
.project
{
    transition: 0.3s ease;
    z-index: 2;
    width: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid var(--border);
    border-radius: 1rem;
    background-color: rgb(13, 13, 13);
}
.project:hover
{
    transition: 0.3s ease;
    border: 1px solid var(--accent);
}
.p-main
{
    font-family: "Satoshi-Bold";
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 7px;
    padding: 7px 16px 0px 16px;
    flex-grow: 1;
}
.p-img::-webkit-scrollbar, .p-img-cont::-webkit-scrollbar
{
    display: none;
}
.p-img
{
    z-index: 1;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    min-width: calc(100% - 20px) !important;
    height: 180px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 0.75em;
    color: var(--header);
    padding: 10px;
    text-shadow: 
        -1px -1px 0 var(--background),  
        1px -1px 0 var(--background),
        -1px  1px 0 var(--background),
        1px  1px 0 var(--background);
}
.p-img-cont
{
    display: flex;
    height: 200px;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.p-img-cont::-webkit-scrollbar-button(right)
{
    content: "HELLO→";
    border: none;
    background-color: var(--accent);
    font-family: Consolas;
    color: black;
    height: 60px;
    width: 60px;
}
.p-head
{
    font-size: 1.3em;
}
.p-type
{
    font-family: Consolas;
    font-size: 0.6em;
    color: var(--accent);
}
.p-body
{
    font-family: "Satoshi-Regular";
    font-size: 1em;
}
.p-links
{
    overflow: hidden;
    border-top: 1px solid var(--border);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    align-self: flex-end;
}
.p-link
{
    font-family: "Satoshi-Regular";
    font-size: 1em;
    flex-grow: 1;
    padding: 8px 16px;
    text-align: center;
}
.p-link:hover
{
    color: var(--accent);
}
.p-skills
{
    width: calc(100% - 14px);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: auto;
    bottom: 100px;
    padding: 7px;
    align-self: flex-end;
}
.p-skill
{   
    font-family: "Consolas";
    font-size: 0.6em;
    margin-top: 7px;
    flex-grow: 1;
    flex-wrap: wrap;
    border: 0.5px solid var(--border);
    padding: 3px 8px;
    border-radius: 0.5rem;
    width: fit-content;
    text-align: center;
}
.see-more
{
    max-width: 100%;
    border: 1px solid var(--border);
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--text);
    text-align: center;
    padding: 10px;
    border-radius: 1rem;
}
.see-more:hover
{
    border: 1px solid var(--accent);
}